<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.2.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
	 "
	>
	
	
	
	<!-- 开启包扫描 -->
	<context:component-scan base-package="cn"/>
	<!-- 定义切面 -->
	<aop:config>
	<!-- 配置切入点就是一种匹配规则 切入点的定义通过表达式来定义的
	within(包名.类名)表达式按照类进行匹配 -->
		<!--  <aop:pointcut expression="within(cn.service.*)" id="pc"/> -->
	<aop:pointcut expression="execution(* cn.service..*(..))" id="pc"/>
		<!-- 配置切面
			id 唯一标识当前切面
			order 排序 控制切面的执行顺序
			ref 引用具体切面的ID
		 -->
		<aop:aspect ref="txAspect">
		<aop:before method="before" pointcut-ref="pc"/>
		<aop:after-returning method="afterReturn" pointcut-ref="pc" returning="number"/>
		<aop:after-throwing method="afterThrow" pointcut-ref="pc" throwing="throwable"/>
		<aop:after method="after" pointcut-ref="pc" />
		</aop:aspect>
	</aop:config>

	
	</beans>