<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd"
        default-lazy-init="default"
        >

<bean id="person" class="beans.Person" >
        <!--  
        index 参数位置从0开始
        
        name 构造方法中的参数名称 4.0版本后面
        
        value 直接赋值
        ref 引用类型
        type 赋值参数的类型 spring中类型自动转换
        
        --> 
     <constructor-arg index="0" value="1"></constructor-arg>
     <constructor-arg index="1" value="jack"></constructor-arg>
     <constructor-arg index="2" ref="user"></constructor-arg>
</bean>
 
 <bean id="user" class="beans.User">
 <property name="name">
 <value>张三</value>
 </property>
 <property name="id">
 <value>11</value>
 </property>
 </bean>
</beans>